body{ 
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image:url("Images/final1.jpg");
}
h1{
  
    font-size: 50px;
    font-family: 'Big Shoulders Stencil Text', cursive;
}
.name-highlight{
    color: blue;
}
#highlight{
    
            background-color: rgb(196, 209, 250);
            font-family: 'Segoe UI';
            font-weight:450;
            padding: 10px 20px;
            border-radius: 10px;
            
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    padding-top: 1.5%;
}
.half-width img{
    width: 80%;
}

section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, cyan, blue);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 580;
}


.hl{
    background-image: linear-gradient(45deg, white,blue);
    padding: 10px 20px;
    border-radius: 10px;

}
.latest-hl{
    color:blue;
}
.fg{
    
    font-size: 50px;
    font-family: 'Big Shoulders Stencil Text', cursive;
}

#gap{
    padding-right: 5%;
}

#exp{
    text-align: center;
    padding-top: 5%;
}
.single-experience{
    box-shadow: 10px 10px 40px rgb(200, 200, 200);
    border-radius: 10px;
    height: 80%;
    background-color: white;
}
.project-area{
    background-color: rgb(235, 231, 231)  ;
}
#left-gap{
    padding-left: 1%;
}

.width{
    width: 29%;
   
    float: left;
    margin-left: 1%;
    margin-right: 1%;
  
    padding-left: 2%;
    padding-top: 2%;
}
.width img{
    max-width: 100%;
}

.add{
    font-size: larger;
}

.left-space{
    padding-left: 1%;
}

.follow{
    width: 40%;
  
    margin-left: 5%;
    padding-left: 2%;
    padding-top: 1.5%;
}
.follow img{
    width:30%;
    display:inline-block;
}
#chat{
  
        background-image: url("Images/chatbox.png") ;
        background-repeat: no-repeat;
        background-position: center;
        
        border-radius: 20px;
        margin-top: 2%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 2%;
      
        max-height: 0.7cm;
    }
    #inq{
        color: white;
        text-align: right;
        float: left;
      font-size: 40px;
    font-weight: 900;
    padding-top: 1%;
    padding-left: 10%;
    padding-bottom: 100%;
    text-align: center;
    
    }
    #txt{
     
        
        text-align: right;
        float;left;
        padding-top: 7%;
        padding-right: 10%;
       
    }
#stp{
  
  
    padding-right: 40%;
}
.stay_connected{
    text-align: center;
}

.stay_connected h2{
    margin-top: 10px;
    font-size: 25px;
    font-weight: 700;
}
.stay_connected h4{
    color: #696871;
    font-weight: 500;
    font-size: 14px;
    font-weight: 600;
}
.stay_connected img{
    margin-top: 10px;
    width: 40px;
 


